# Copied from CakePHP, adjusted for PSR-12
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.php]
indent_size = 4
max_line_length = 80

[*.bat]
end_of_line = crlf

[*.yml]
indent_style = space
indent_size = 2
