# Godta det om enten IP-en eller innloggingen er OK
Satisfy any

# Slipp in wens egne IP-er
Order deny,allow
Allow from 195.159.233.58 195.159.233.60 127. ::1 2001:16d8:ee00:3e::2
Deny from all

# La Systems logge inn
AuthType Basic
AuthName "Info:Systems"
AuthUserFile /srv/vhosts/infosystems.gathering.org/svn/.htpasswd
Require valid-user

